/pkg/
/.idea/*

*.class
.DS_Store
*.class
java/src/.idea/
Would skip repository src/github.com/valyala/bytebufferpool
Would skip repository src/github.com/panjf2000/ants
Would skip repository src/github.com/panjf2000/gnet
Would skip repository src/go.uber.org/zap
Would skip repository src/go.uber.org/atomic
Would skip repository src/go.uber.org/multierr
Would skip repository src/golang.org/x/sys
